:root {
  --my-color: green;
}

h1 {
  color: green;
  border-bottom: 1px solid lime;
}

.test {
  padding-top: 2px;
  padding-bottom: 4px;
  padding-left: 2px;
  padding-right: 5px;
}

.big-ball {
  size: 40px;
}

.small-ball {
  size: 20px;
}

.medium-ball {
  size: 30px;
}

h2 {
  color: blue;
}

h4 {
  color: green;
}

section.shopping-list h3 {
  color: blue;
}
section.shopping-list ul {
  border: 1px solid gray;
}
section.shopping-list ul > li {
  color: red;
}
section.shopping-list ul > li:hover {
  background-color: lightgray;
}
:not(section.shopping-list ul > li) {
  font-size: 1.2em;
}
