div.root {
  --primary-color: green;
  background-color: color-mix(in srgb, var(--primary-color), white 20%);
  height: calc(20% + 300px);
  width: 400px;
  background-color: white;
}

h1 {
  color: green;
  border-bottom: 1px solid lime;
}

section.shopping-list h3 {
  color: blue;
}
section.shopping-list ul {
  border: 1px solid gray;
}
section.shopping-list ul > li {
  color: red;
}
section.shopping-list ul > li:hover {
  background-color: lightgray;
}
