@use 'sass:color';
@use 'sass:list';

@function generate-spacings($unit) {
    @return (0, $unit, 2 * $unit, 4 * $unit);
}

$spacings: generate-spacings(4px);
@debug $spacings;

@each $size in $spacings {
    .m-#{$size} {
        margin: $size;
    }
    .p-#{$size} {
        padding: $size;
    }
}


$my-color: green;
$colors: (red, green, blue, purple, yellow);
$other-colors: (orange, pink, brown, black, white);

@debug list.index($colors, purple);
$first-color: list.nth($colors, 1);
$last-color: list.nth($colors, -1);
@debug 'first-color', $first-color;
@debug 'last-color', $last-color;

$all-colors: list.join($colors, $other-colors);
$more-colors: list.append($all-colors, cyan);
@debug 'more-colors', $more-colors;



@each $color in $colors {
 #{'.text-' + $color} {
    color: $color;
}
}

div.root {
}


h1 {
    color: $my-color;
    border-bottom: 1px solid lime;
}


section.shopping-list  {

    h3 {
        color: blue;
    }

    ul {
        border: 1px solid gray;

        > li {
            color: red;

            &:hover {
                background-color: lightgray;
            }
        }
    }
} // end section.shopping-list



