/* You can add global styles to this file, and also import other style files */
html, body {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --p-10: rgb(229, 239, 250);
    --p-20: rgb(186, 212, 242);
    --p-30: rgb(143, 186, 234); 
    --p-40: rgb(100, 159, 227);    
    --p-50: rgb(62, 135, 218);
    --p-60: rgb(36, 109, 194);
    --p-70: rgb(28, 85, 151);
    --p-80: rgb(23, 71, 125);
    --p-90: rgb(19, 58, 103);
}

.pal-1 {
    --p-10: rgb(200, 230, 201);
    --p-20: rgb(165, 214, 167);
    --p-30: rgb(129, 199, 132); 
    --p-40: rgb(102, 187, 106);    
    --p-50: rgb(76, 175, 80);
    --p-60: rgb(67, 160, 71);
    --p-70: rgb(56, 142, 60);
    --p-80: rgb(46, 125, 50);
    --p-90: hsl(124, 55%, 24%);
}

.pal-2 {
    --p-10: hsl(270, 78%, 91%); /* very light purple */
    --p-20: hsl(266, 79%, 85%); 
    --p-30: hsl(263, 81%, 79%);
    --p-40: hsl(260, 81%, 73%);
    --p-50: hsl(258, 81%, 66%); /* base purple */
    --p-60: hsl(256, 74%, 61%);
    --p-70: hsl(255, 68%, 56%);
    --p-80: hsl(253, 63%, 51%);
    --p-90: hsl(250, 74%, 43%);  /* dark purple */
}

.pal-3 {
    --p-10: hsl(4, 78%, 91%); /* very light purple */
    --p-20: hsl(4, 79%, 85%); 
    --p-30: hsl(4, 81%, 79%);
    --p-40: hsl(4, 81%, 73%);
    --p-50: hsl(4, 81%, 66%); /* base purple */
    --p-60: hsl(4, 74%, 61%);
    --p-70: hsl(4, 68%, 56%);
    --p-80: hsl(4, 63%, 51%);
    --p-90: hsl(4, 74%, 43%);  /* dark purple */
}
